In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
city_data_df.dtypes

NameError: name 'city_data_df' is not defined

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2022-08-01 00:10:50,22.2855,114.1577,89.26,76,19,1.01
1,1,Saint-Philippe,RE,2022-08-01 00:14:25,-21.3585,55.7679,66.22,79,61,14.38
2,2,Hobart,AU,2022-08-01 00:14:25,-42.8794,147.3294,51.26,72,75,20.71
3,3,Jamestown,US,2022-08-01 00:13:51,42.0970,-79.2353,74.95,52,20,4.61
4,4,Belyy Yar,RU,2022-08-01 00:14:26,53.6039,91.3903,63.86,88,0,2.24

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of Windspeed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Victoria,HK,2022-08-01 00:10:50,22.2855,114.1577,89.26,76,19,1.01
7,7,Jalu,LY,2022-08-01 00:11:47,29.0331,21.5482,81.36,57,0,16.53
9,9,Tuy Hoa,VN,2022-08-01 00:14:27,13.0833,109.3000,78.60,87,100,4.41
13,13,Filadelfia,US,2022-08-01 00:11:51,39.9523,-75.1638,84.45,63,100,10.36
15,15,Kulhudhuffushi,MV,2022-08-01 00:13:56,6.6221,73.0700,77.04,85,100,36.93
21,21,Korla,CN,2022-08-01 00:14:31,41.7597,86.1469,75.81,46,52,12.91
22,22,Hobyo,SO,2022-08-01 00:14:31,5.3505,48.5268,75.13,85,0,23.35
27,27,Miramar,US,2022-08-01 00:14:33,25.9873,-80.2323,86.02,76,20,12.66
29,29,Katsuura,JP,2022-08-01 00:14:34,35.1333,140.3000,85.86,73,79,6.35
31,31,Bethel,US,2022-08-01 00:14:35,41.3712,-73.4140,79.65,64,88,6.15

In [31]:
preferred_cities_df.count()

City_ID       204
City          204
Country       204
Date          204
Lat           204
Lng           204
Max Temp      204
Humidity      204
Cloudiness    204
Wind Speed    204
dtype: int64

In [32]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0         Victoria      HK     89.26  22.2855  114.1577
7             Jalu      LY     81.36  29.0331   21.5482
9          Tuy Hoa      VN     78.60  13.0833  109.3000
13      Filadelfia      US     84.45  39.9523  -75.1638
15  Kulhudhuffushi      MV     77.04   6.6221   73.0700
21           Korla      CN     75.81  41.7597   86.1469
22           Hobyo      SO     75.13   5.3505   48.5268
27         Miramar      US     86.02  25.9873  -80.2323
29        Katsuura      JP     85.86  35.1333  140.3000
31          Bethel      US     79.65  41.3712  -73.4140

In [33]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [42]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Victoria,HK,89.26,22.2855,114.1577,Mini Central
7,Jalu,LY,81.36,29.0331,21.5482,صاحبة الفخامة
9,Tuy Hoa,VN,78.60,13.0833,109.3000,CenDeluxe Hotel Tuy Hoa
13,Filadelfia,US,84.45,39.9523,-75.1638,"The Ritz-Carlton, Philadelphia"
15,Kulhudhuffushi,MV,77.04,6.6221,73.0700,Haajy Guest House 1
21,Korla,CN,75.81,41.7597,86.1469,Gulisitan Hotel
22,Hobyo,SO,75.13,5.3505,48.5268,Iftin hotel hobyo
27,Miramar,US,86.02,25.9873,-80.2323,Stadium Hotel
29,Katsuura,JP,85.86,35.1333,140.3000,Katsuura Hotel Mikazuki
31,Bethel,US,79.65,41.3712,-73.4140,Courtyard by Marriott Danbury

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))