In [8]:
## Deliverable 2. Create a Customer Travel Destinations Map.

In [9]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
import numpy as np
# Import the API key.
from config import g_key
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Cherskiy,RU,2022-08-01 07:20:14,68.7500,161.3000,72.75,31,21,14.50,few clouds
1,1,Port Alfred,ZA,2022-08-01 07:20:15,-33.5906,26.8910,53.19,79,0,1.99,clear sky
2,2,Mayumba,GA,2022-08-01 07:20:15,-3.4320,10.6554,71.94,86,57,5.73,broken clouds
3,3,New Norfolk,AU,2022-08-01 07:20:15,-42.7826,147.0587,47.70,86,96,3.00,moderate rain
4,4,Kapaa,US,2022-08-01 07:20:16,22.0752,-159.3190,80.58,75,40,20.71,scattered clouds

In [12]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Kapaa,US,2022-08-01 07:20:16,22.0752,-159.3190,80.58,75,40,20.71,scattered clouds
12,12,Port Blair,IN,2022-08-01 07:20:19,11.6667,92.7500,87.84,70,40,10.36,scattered clouds
13,13,Buluang,PH,2022-08-01 07:20:19,13.3068,123.3425,84.31,77,100,3.38,overcast clouds
14,14,Vaini,TO,2022-08-01 07:20:19,-21.2000,-175.2000,75.36,100,40,4.61,scattered clouds
15,15,Souillac,MU,2022-08-01 07:20:20,-20.5167,57.5167,75.58,69,75,16.11,light rain
19,19,Mahebourg,MU,2022-08-01 07:20:21,-20.4081,57.7000,76.24,69,75,16.11,broken clouds
22,22,Coahuayana,MX,2022-08-01 07:20:22,18.7333,-103.6833,77.63,87,100,2.98,overcast clouds
38,38,Kandrian,PG,2022-08-01 07:20:28,-6.2167,149.5500,83.10,74,58,11.07,broken clouds
39,39,Atambua,ID,2022-08-01 07:20:28,-9.1061,124.8925,79.56,67,94,1.14,overcast clouds
49,49,Ende,ID,2022-08-01 07:22:58,-8.8432,121.6623,83.62,65,77,2.66,broken clouds

In [15]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                273
City                   273
Country                273
Date                   273
Lat                    273
Lng                    273
Max Temp               273
Humidity               273
Cloudiness             273
Wind Speed             273
Current Description    273
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Kapaa,US,2022-08-01 07:20:16,22.0752,-159.3190,80.58,75,40,20.71,scattered clouds
12,12,Port Blair,IN,2022-08-01 07:20:19,11.6667,92.7500,87.84,70,40,10.36,scattered clouds
13,13,Buluang,PH,2022-08-01 07:20:19,13.3068,123.3425,84.31,77,100,3.38,overcast clouds
14,14,Vaini,TO,2022-08-01 07:20:19,-21.2000,-175.2000,75.36,100,40,4.61,scattered clouds
15,15,Souillac,MU,2022-08-01 07:20:20,-20.5167,57.5167,75.58,69,75,16.11,light rain

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,
12,Port Blair,IN,87.84,scattered clouds,11.6667,92.7500,
13,Buluang,PH,84.31,overcast clouds,13.3068,123.3425,
14,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,
15,Souillac,MU,75.58,light rain,-20.5167,57.5167,
19,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,
22,Coahuayana,MX,77.63,overcast clouds,18.7333,-103.6833,
38,Kandrian,PG,83.10,broken clouds,-6.2167,149.5500,
39,Atambua,ID,79.56,overcast clouds,-9.1061,124.8925,
49,Ende,ID,83.62,broken clouds,-8.8432,121.6623,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"

    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Port Blair,IN,87.84,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
13,Buluang,PH,84.31,overcast clouds,13.3068,123.3425,Sacueza Beach Resort
14,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Souillac,MU,75.58,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
22,Coahuayana,MX,77.63,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
38,Kandrian,PG,83.10,broken clouds,-6.2167,149.5500,Kandrian Station
39,Atambua,ID,79.56,overcast clouds,-9.1061,124.8925,Kost Alfa Flat
49,Ende,ID,83.62,broken clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende

In [19]:
# 7. Drop the rows where there is no Hotel Name.
clean = hotel_df.replace(r'^\s*$', np.nan, regex=True)
clean_hotel_df = clean.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Kapaa,US,80.58,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
12,Port Blair,IN,87.84,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
13,Buluang,PH,84.31,overcast clouds,13.3068,123.3425,Sacueza Beach Resort
14,Vaini,TO,75.36,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
15,Souillac,MU,75.58,light rain,-20.5167,57.5167,Shanti Maurice Resort & Spa
19,Mahebourg,MU,76.24,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
22,Coahuayana,MX,77.63,overcast clouds,18.7333,-103.6833,El rranchito michuacan de ocampos
38,Kandrian,PG,83.10,broken clouds,-6.2167,149.5500,Kandrian Station
39,Atambua,ID,79.56,overcast clouds,-9.1061,124.8925,Kost Alfa Flat
49,Ende,ID,83.62,broken clouds,-8.8432,121.6623,Dwi Putra Hotel - Ende

In [22]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [24]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))